services:
##Entity##
	- App\Router\RouterFactory::createRouter
	- App\Model\Orm\Entity\Users
	- App\Model\Orm\Entity\Animal
	- App\Model\Orm\Entity\News
	- App\Model\Orm\Entity\Messages
	- App\Model\Orm\Entity\Adoption
	- App\Model\Orm\Entity\AdoptionAction
	- App\Model\Orm\Entity\Photo
	- App\Model\Orm\Entity\Owner
	- App\Model\Orm\Entity\Azyl
	- App\Model\Orm\Entity\Species
	- App\Model\Orm\Entity\Pages
	- App\Model\Orm\Entity\Faq
	- App\Model\Orm\Entity\Help
	- App\Model\Orm\Entity\HelpForm
	- App\Model\Orm\Entity\Citys

	##Enum##
	- App\Model\Orm\Enums\RoleTypeEnum
	- App\Model\Orm\Enums\SexTypeEnum
	- App\Model\Orm\Enums\MessageTypeEnum
	- App\Model\Orm\Enums\AdoptionsTypeEnum
	- App\Model\Orm\Enums\ActionTypeEnum
	##Factory##
	- App\Forms\SignInFormFactory
	- App\Forms\userDetailsFormFactory
	- App\Forms\animalFormFactory
	- App\Forms\newsFormFactory
	- App\Forms\AzylSetingsFormFactory
	- App\Forms\speciesFormFactory
	##Repository##
	- App\Model\Orm\Repository\UsersRepository
	- App\Model\Orm\Repository\MessagesRepository
	- App\Model\Services\MyAuthenticator

	- Nepada\Bridges\PhoneNumberInputDI\PhoneNumberInputExtension
	- App\Presenters\UserPresenter

search:
	-	in: %appDir%
		classes:
			- *Factory
			- *Facade
			- *Repository
			- *Service

extensions:
    # Common
    nettrine.cache: Nettrine\Cache\DI\CacheExtension
    nettrine.migrations: Nettrine\Migrations\DI\MigrationsExtension
    nettrine.fixtures: Nettrine\Fixtures\DI\FixturesExtension
    # DBAL
    nettrine.dbal: Nettrine\DBAL\DI\DbalExtension
    nettrine.dbal.console: Nettrine\DBAL\DI\DbalConsoleExtension

    # ORM
    nettrine.orm: Nettrine\ORM\DI\OrmExtension
    nettrine.orm.cache: Nettrine\ORM\DI\OrmCacheExtension
    nettrine.orm.console: Nettrine\ORM\DI\OrmConsoleExtension
    nettrine.orm.attributes: Nettrine\ORM\DI\OrmAttributesExtension
    console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)

nettrine.orm.attributes:
	mapping: [
		App\Model\Orm\Entity: %appDir%/Model/Orm/Entity
		App\Model\Orm\Enums: %appDir%/Model/Orm/Enums
		    ]

nettrine.migrations:
	directory: %appDir%/Migrations
	namespace: DB\Migrations