{block content}
<style>
    .adoptions-card {

        margin: 1rem;

    }
    .azyl-name { background-color: #9da9bb}

</style>

<main class="main" id="top">
    <div class="bg">
        <div class="content">
            <div class="row">
                <div class="col-xl-12 col-sm-12 flex-column">
                    <h3>Adopce</h3>
                                            <div class="adoptions d-flex flex-row flex-wrap" id="adoptions">

                            {foreach $adoptions as $adoption}
                                <div class="adoptions-border">
                                    <div class = "card adoptions-card" style="width: 20rem;">
                                        {if !is_null($adoption->getPhotos()[0])}
                                            <img class="card-img-top" src="{$basePath}{$adoption->getPhotos()[0]->getPath().$adoption->getPhotos()[0]->getName()}" alt="{$adoption->getPhotos()[0]->getName()}" />
                                        {else}
                                            <img class="card-img-top" src="{$basePath}/assets/vazdata/img/pic/love1.jpeg" alt="Happy dino" />
                                        {/if}
                                        <h5 class="card-header">{$adoption->getName()}</h5>
                                        <div class="card-body">
                                            {var $now = new DateTimeImmutable()}
                                        {var $interval = date_diff($vek = $adoption->getBirthdate(), $now)}

                                            <h5 class="card-title">Plemeno: {$adoption->getBreed()} Věk: {$interval->y} </h5>
                                            <p class="card-text">{$adoption->getDescription()}</p>

                                            {if $user->isLoggedIn()}
                                                <a href="{link Home:adopce $adoption->getId()}" class="btn btn-sm btn-outline-primary">Chci adoptovat!</a>
                                            {else}
                                                <a href="{link Home:SignIn}" class="btn btn-sm btn-outline-primary">Přihlašení</a>
                                            {/if}
                                            <a href="{link Home:azyl $adoption->getAzyl()->getId()}" class="btn btn-sm btn-outline-info">{$adoption->getAzyl()->getAzylName()}</a>
                                        </div>
                                    </div>
                                </div>
                            {/foreach}


                    </div>
                </div>
            </div>
        </div>
        {/block}
{block scripts-user}
{/block}