{block content}

<style>
    .news-card {

        margin-bottom: 2rem;

    }
    .adoptions-card {

        margin: 1rem;
        margin-top: 0rem;
    }
    .autohor-name { background-color: #9da9bb}

</style>
<main class="main" id="top">
    <div class="bg">
        <div class="content">
            <div class="row">
                <div class="col-md-5 col-12 flex-column">
                    <h3>Aktuality</h3>
                    <div class="news" id="news">
                      {if $newsCount !== 0}
                        {foreach $news as $new}
                        {var $newsUser = $new->getAuthor()}
                        {var $newsAzyl = $new->getAzyl()}
                        {if $new->getImportant() === true}
                                   <div class = "card news-card text-dark bg-warning">
                        {else}
                                       <div class = "card news-card text-dark bg-light">
                        {/if}
                                    <h5 class="card-header">{$new->getTitle()}</h5>
                                    <div class="card-body">
                                        <p class="card-text"> {$new->getContent()|noescape}</p>
                                         <small class="text-muted">Vytvořeno: {$new->getCreatedAt()->format('d.m.Y. H:m:s')}</small>

                                        </p>
                                        {if $newsAzyl != null}
                                        <a href="{link Home:azyl, $newsAzyl->getId()}" class="btn btn-sm btn-outline-info">{$newsAzyl->getAzylName()}</a>
                                            {else}
                                            <small class="text-muted">Autor: Admin</small>
                                        {/if}
                                    </div>
                                </div>
                        {/foreach}
                                       {if $newsCount !== 0}
                                       <a n:href = "Home:news" class="btn btn-sm btn-outline-primary">Více novinek...</a>
                                       {else}
                                        <p>Žádné novinky</p>
                                       {/if}
                      {else}
                        <p>Žádné novinky</p>
                      {/if}


                    </div>
                </div>
                <div class="col-md-7 col-12" >
                    <h3>Adopce</h3>
                    <div class="adoptions d-flex flex-row flex-wrap" id="adoptions">

                        {foreach $adoptions as $adoption}
                            <div class="adoptions-border">
                                <div class = "card adoptions-card" style="width: 23rem;">
                                    {if !is_null($adoption->getPhotos()[0])}
                                        <img class="card-img-top" src="{$basePath}{$adoption->getPhotos()[0]->getPath().$adoption->getPhotos()[0]->getName()}" alt="{$adoption->getPhotos()[0]->getName()}" />
                                    {else}
                                        <img class="card-img-top" src="{$basePath}/assets/vazdata/img/pic/love1.jpeg" alt="Happy dino" />
                                    {/if}
                                    <h5 class="card-header">{$adoption->getName()}</h5>
                                    <div class="card-body">
                                        {var $now = new DateTimeImmutable()}
                                        {var $interval = date_diff($vek = $adoption->getBirthdate(), $now)}

                                        <h5 class="card-title">Plemeno: {$adoption->getBreed()} Věk: {$interval->y} </h5>
                                        <p class="card-text">{$adoption->getDescription()}</p>

                                            {if $user->isLoggedIn()}
                                            <a href="{link Home:adopce $adoption->getId()}" class="btn btn-sm btn-outline-primary">Chci adoptovat!</a>
                                        {else}
                                            <a href="{link Home:SignIn}" class="btn btn-sm btn-outline-primary">Přihlášení</a>
                                        {/if}
                                        <a href="{link Home:azyl $adoption->getAzyl()->getId()}" class="btn btn-sm btn-outline-info">{$adoption->getAzyl()->getAzylName()}</a>
                                    </div>
                               </div>
                            </div>
                        {/foreach}
                    </div>
                    <a n:href = "Home:adoptions" class="btn btn-sm btn-outline-primary">Více adopcí...</a>
                </div>
            </div>
        </div>
    </div>
   </div>
{/block}
    {block scripts-user}
    {/block}