{block azylContent}
<style>
    /* Příchozí zprávy */
    .frs, .fra, .fru {
        background-color: #d1e7dd;
        text-align: left;
        margin-left: 0;

    }

    /* Odchozí zprávy */
    .fou, .foa, .fos {
        background-color: #f0f0f0;
        text-align: right;
        margin-left: auto;
        padding-right: 2em;
    }
</style>

<main class="main" id="top">
    <div class="bg">
        <div class="content">
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-md-6 col-xl-4">
                        <div class="h-100 bg-light rounded p-4">
                            <div class="chat d-flex align-items-center justify-content-between mb-2" id="chat">
                                 <h6 class="mb-0">Kontakty</h6>
                            </div>
                            {snippet chats}
                                    {ifset $chats}
                                        {foreach $chats as $key => $chat}
                                            <div class="d-flex align-items-center border-bottom py-3">
                                                <div class="w-100 ms-3">
                                                    <div class="d-flex w-100 justify-content-between">
                                                        <h6 class="mb-0"> {$chat}</h6>

                                                    </div>
                                                    <span><a class="ajax cont btn-light" n:href="chat! $key">{$chat}</a></span>
                                                </div>
                                            </div>
                                        {/foreach}
                                    {/ifset}
                                    {/snippet chats}
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-xl-8">
                        <div class="h-100 bg-light rounded p-4">
                            <div class="messages d-flex align-items-center justify-content-between mb-4" id="messages">
                                <h6 class="mb-0">Vzkazy</h6>
                            </div>
                            {snippet messages}
                            {ifset $messages}
                            {foreach $messages as $message}
                            <div class="d-flex align-items-center border-bottom py-3">
                                <div class="w-100 ms-3">
                                    <div class="d-flex w-100 justify-content-between">
                                        <div class="msg {if $message->getReaded() == false}msg-unreaded{/if} {$message->getType()}">
                                        <h6 class="mb-0"> {$message->getTitle()}</h6>
                                        <small>{$message->getCreatedAt()|date:'H:i d.m.Y'}</small>
                                        <span>{$message->getMessage()|safeHtml|noescape}</span>
                                    </div>
                                </div>
                            </div>
                            </div>

                                {/foreach}
                                <form n:name=messagesForm class="ajax form row col-auto" data-reciver="{$receiver}">
                                    <div class="msg-text-array col-lg-9">
                                        <label n:name=message><textarea class="font-monospace form-control ajax chat-textarray" cols="55" rows="2" n:name=message autofocus></textarea></label>
                                    </div>
                                    <div class="msg-text-array col-lg-3">
                                        <input n:name=address value="{$receiver}">
                                        <input class="align-center ajax chat-send btn btn-secondary" n:name=send>
                                    </div>

                                </form>
                                {/ifset}
                                {/snippet messages}




                         </div>
                      </div>
                    </div>
                   </div>
                 </div>
              </div>
        </main>

        {/block}
        {block scripts}
        {/block}
