{block content}
    <div class="bg">
        <div class="content">
            {snippet signin}
                Tady budou zprávy
            {/snippet}
        </div>
    </div>
{/block}
{block scripts-user}
{/block}