{block content}
<style>

    /* Styly pro kontakty (obdélníky roztažené na celou šířku) */
    #messages {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: #f0f0f0;
        padding: 10px;
    }

    .chat {

    }

    .chat:hover {

    }

    a.cont {
      display: flex;
        flex-direction: column;
        width: 100%;
        background-color: #8ab6d6;
        margin-bottom: 10px;
        padding: 15px;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.3s ease;


    }

    a.cont:hover {
    background-color: #9aC6D6;

    }

    /* Styl pro chat detail */
    #chat-detail {
        width: 70%;
        background-color: #fff;
        padding: 20px;
        border-left: 1px solid #ddd;
        justify-content: flex-end; /* Zajišťuje, že se zprávy zarovnají dole */
        height: 50vh; /* Nastaví výšku chatu, můžeš upravit dle potřeby */
        overflow-y: auto; /* Umožňuje skrolování, pokud je více zpráv */
    }

    /* Společné styly pro zprávy */
    .msg {
        padding: 10px;
        margin-bottom: 15px;
        border-radius: 8px;
        max-width: 60%;
        word-wrap: break-word;
    }

    /* Příchozí zprávy */
    .frs, .fra, .fru {
        background-color: #d1e7dd;
        text-align: left;
        margin-left: 0;
    }

    /* Odchozí zprávy */
    .fou, .foa, .fos {
        background-color: #f0f0f0;
        text-align: right;
        margin-left: auto;
    }

    /* Styl pro nadpis zprávy */
    .msg-title {
        font-weight: bold;
        margin-bottom: 5px;
    }

    /* Styl pro tělo zprávy */
    .msg-message {
        font-size: 14px;
        line-height: 1.5;
    }
    .msg-unreaded {

        background-color: darkolivegreen;
    }


</style>
<main class="main" id="top">
    <div class="bg">
        <div class="content">
            <h2>Komunikace</h2>
            <div class="row g-12 g-lg-6 g-xl-7 pt-6">
                <div class ="col-lg-4">
                    <h4>Kontakty</h4>


                    {ifset $chats}
                        {snippet chats}
                    <div class="messages" id="messages">
                            {foreach $chats as $chat=>$key}
                            <div class="chat">
                             <a class="ajax cont btn-light" n:href="chat! $chat">{$key}</a>
                            </div>

                            {/foreach}
                    </div>
                        {/snippet}
                    {/ifset}


                </div>

                <div class="col-lg-8 border-primary">
                    <h4>Vzkazy</h4>


                        {snippet messages}
                        {ifset $messages}
                            <div class="chat-detail" id="chat-detail">
                            {foreach $messages as $message}
                                <div class="msg {if $message->getReaded() == false}msg-unreaded{/if} {$message->getType()}">
                                <div class="row">
                                    <div class="col-lg-10">
                                    <div class="msg-title">{$message->getTitle()}</div>
                                    <div class="msg-message">{$message->getMessage()}</div>
                                    </div>
                                    <div class="col-lg-2">
                                    <a class="align-center align-right ajax" n:href="deleteMsg! $message->getId()">(X)</a>
                                    </div>
                                </div>
                                </div>

                            {/foreach}

                            </div>
                            <div class="row">
                                <form n:name=messagesForm class="ajax form row col-auto" data-reciver="{$reciver}">
                                    <div class="msg-text-array col-lg-9">
                                     <label n:name=message><textarea class="font-monospace form-control ajax chat-textarray" cols="55" rows="2" n:name=message autofocus></textarea></label>
                                    </div>
                                     <div class="msg-text-array col-lg-3">
                                     <input n:name=id value="{$reciver}">
                                     <input class="align-center ajax chat-send btn btn-secondary" n:name=send>
                                     </div>

                                </form>
                        </div>
                        {/ifset}


                        {/snippet}

                </div>
            </div>
        </div>

        {/block}

{block scripts-user}
<script src="https://unpkg.com/naja@2/dist/Naja.min.js"></script>

        <script>
        const chatDetail = document.getElementById('chat-detail');
        chatDetail.scrollTop = chatDetail.scrollHeight;
        </script>
{/block}