<style rel="stylesheet" href="{$basePath}/vendors/prism2/prism.css">></style>
{block adminContent}
    <h2> Smlouvy </h2>
    {snippet datagrid}
        {control contractPartsDatagrid}
    {/snippet}

{/block}

{block scripts}
    <script src="{$basePath}/vendors/prism2/prism.js"></script>
{/block}