{block content}
<h1 n:block=title xmlns:n="http://www.w3.org/1999/xhtml">404 stránka neexistuje</h1>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img size="60%" src="{$basePath}/assets/vazdata/img/pic/error404-dino.jpeg" alt="404" class="img-fluid">
        </div>
        <div class="col-md-6">
            <h2>404</h2>
            <p>Hledali jsme Vaší stránku. Fakt jakože hodně! Ale prostě tu není... buď máte vy špatnou adresu nebo mi nemáme stránku.</p>
            <img alt="404" src="{$basePath}/assets/vazdata/img/pic/error404-dino.jpeg" class="img-fluid">
        </div>
    </div>

</div>

{block scripts-user}
{/block}